#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #f47920aa);
}

.title {
  color: #f47920;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 1rem;
  text-shadow: 0 0 0.5em transparent;
  transition: text-shadow 300ms;
}
.title:hover {
  text-shadow: 0 0 1em #f4792066, 0 0 2em #f4792033;
}

